/* Player Selection Form Container */
#player-info {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #1c1e1f;
    width: 350px;
    aspect-ratio: 1;
    border-radius: 0.5rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px #090909;
}

#player-info p,
#player-info fieldset,
#player-info legend,
#submit-btn {
    text-align: center;
    display: block;
    margin: 0 auto 2rem;
}

#player-info p {
    font-size: 1.8rem;
}

#player-info legend {
    letter-spacing: 0.02rem;
}

#player-info fieldset {
    margin: 0;
}

#player-info input[type='radio'] {
    display: none;
}

/* Player symbol/image wrapper */
.img-wrapper {
    overflow: hidden;
    width: 100px;
    margin: 0 0.8rem;
    border-radius: 1rem;
    background-color: #131516;
    display: inline-block;
    box-shadow: 0 0 10px #000;
    cursor: pointer;
    transition: 0.2s;
}

#player-info label img {
    width: 100%;
    margin: auto;
    padding: 0.8rem;
    transition: 0.2s;
}

#player-info label img:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

#player-info input:checked + label .img-wrapper {
    box-shadow: 0 0 0.2rem 0.2rem rgb(0, 175, 122);
}

#player-info input:checked + label img {
    transform: scale(1.05);
}

/* Start Game Button */
#submit-btn {
    width: 200px;
    margin: 2rem 0 0;
    padding: 0.2rem 0 0.38rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    background-color: transparent;
    background-image: linear-gradient(
        to bottom right,
        #e14848 50%,
        #e14848 calc(50% + 1px),
        #004895 50%
    );
    background-repeat: no-repeat;
    background-size: 200% 205%;
    background-position: 100% 100%;
    font-family: 'Oxygen', sans-serif;
    text-shadow: 0 0 4px #592020;
    color: #fff;
}

#player-info #submit-btn:hover {
    animation: btn-hover 0.5s forwards;
    box-shadow: 0 0 3px 2px rgb(30, 30, 30);
}

#submit-btn:active {
    background-color: #e14848;
}

/* Hidden form after the game starts */
.hidden {
    animation: hide 0.5s ease forwards;
}
