@import url(_reset.css);
@import url(_form.css);
@import url(_animations.css);
@import url(_responsive.css);

body {
    background-color: #151515;
    color: #fff;
    width: 100vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    padding-top: 3rem;
}

/* Page Container */
.container {
    width: 100%;
    min-height: 70vh;
    max-height: 100vh;
    margin: auto;
    padding-top: 20vh;
}

/* Tic-Tac-Toe Board Container */
.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: max-content;
    background-color: #555;
    gap: 0.5rem;
    margin: auto;
    position: relative;
}

.block {
    background-color: #151515;
    width: 100px;
    aspect-ratio: 1;
    position: relative;
}

/* Xs and Os */
.block img {
    position: absolute;
    width: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    transition: 0.3s;
    opacity: 0.9;
    animation: increase-size 0.3s;
}

.block img:hover {
    transform: translate(-50%, -50%) scale(1.03);
    opacity: 1;
}

/* Strikethrough the row/column/diagonal once there's a winner */
.line {
    position: absolute;
    background-size: 200% 200%;
    background-repeat: no-repeat;
}

.row {
    width: 90%;
    height: 2.5%;
    left: 50%;
    transform: translateX(-50%);
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.8) 50%,
        transparent 50%
    );
    animation: strikethrough-left 1s forwards;
}
.row-1 {
    top: 14%;
}
.row-2 {
    bottom: 49%;
}
.row-3 {
    bottom: 15%;
}

.col {
    width: 2.5%;
    height: 90%;
    top: 50%;
    transform: translateY(-50%);
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.8) 50%,
        transparent 50%
    );
    animation: strikethrough-top 1s forwards;
}
.col-1 {
    left: 14.5%;
}
.col-2 {
    right: 48.7%;
}
.col-3 {
    right: 14.5%;
}

.diag {
    width: 2.8%;
    height: 120%;
    left: 49%;
    top: -10%;
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.8) 50%,
        transparent 50%
    );
    animation: strikethrough-top 1s forwards;
}
.diag-1 {
    transform: rotate(-45deg);
}
.diag-2 {
    transform: rotate(45deg);
}
