@import url(_reset.css);
@import url(_form.css);
@import url(_animations.css);

body {
    background-color: #101112;
    color: #fff;
    width: 100vw;
    font-family: 'Oxygen', sans-serif;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    padding-top: 1rem;
}

/* Page Container */
.container {
    width: 100%;
    min-height: 70vh;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Score */
.score-container {
    margin: 0 auto 1rem;
    width: max-content;
    display: flex;
    justify-content: center;
    border: 1px solid #555;
    padding: 1rem;
}

.score-container div {
    width: 120px;
}

.score-container div span {
    display: block;
    padding: 0.25rem;
    text-align: center;
}

/* Tic-Tac-Toe Board Container */
.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: max-content;
    background-color: #555;
    gap: 0.5rem;
    margin: 1rem auto;
    position: relative;
    opacity: 0;
}

.block {
    background-color: #151515;
    width: 100px;
    aspect-ratio: 1;
    position: relative;
}

/* Xs and Os */
.block img {
    position: absolute;
    width: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    transition: 0.3s;
    opacity: 0.9;
    animation: increase-size 0.3s;
}

.block img:hover {
    transform: translate(-50%, -50%) scale(1.03);
    opacity: 1;
}

/* Strikethrough the row/column/diagonal once there's a winner */
.line {
    position: absolute;
    background-size: 200% 200%;
    background-repeat: no-repeat;
}

.row {
    width: 90%;
    height: 2.5%;
    left: 50%;
    transform: translateX(-50%);
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.8) 50%,
        transparent 50%
    );
    animation: strikethrough-left 1s forwards;
}
.row-1 {
    top: 14%;
}
.row-2 {
    bottom: 49%;
}
.row-3 {
    bottom: 15%;
}

.col {
    width: 2.5%;
    height: 90%;
    top: 50%;
    transform: translateY(-50%);
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.8) 50%,
        transparent 50%
    );
    animation: strikethrough-top 1s forwards;
}
.col-1 {
    left: 14.5%;
}
.col-2 {
    right: 48.7%;
}
.col-3 {
    right: 14.5%;
}

.diag {
    width: 2.8%;
    height: 120%;
    left: 49%;
    top: -10%;
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.8) 50%,
        transparent 50%
    );
    animation: strikethrough-top 1s forwards;
}
.diag-1 {
    transform: rotate(-45deg);
}
.diag-2 {
    transform: rotate(45deg);
}

/* Game Result */
#result {
    display: block;
    margin: 1rem auto 0;
    width: max-content;
    height: 100px;
}

#winner-x,
#winner-o {
    width: 60px;
    margin: auto;
    border-radius: 1rem;
    animation: appear 0.7s forwards;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1920px;
    }
}

@media (max-width: 400px) {
    .score-container {
        padding-left: 0;
        padding-right: 0.6rem;
    }

    .score-container div {
        width: 30vw;
        font-size: 0.8rem;
        padding: 0;
    }

    .score-container--player {
        width: min-content;
    }

    #player-info {
        width: 250px;
    }

    #player-info p,
    #player-info fieldset,
    #player-info legend,
    #player-info button {
        margin: 0 auto 1.2rem;
    }

    #player-info p {
        margin-top: 1rem;
        font-size: 1.2rem;
    }

    #player-info legend {
        font-size: 0.8rem;
    }

    .img-wrapper {
        width: 75px;
        margin: 0 0.5rem;
    }

    #submit-btn {
        width: 150px;
    }

    .block {
        width: 28vw;
    }
}
